
<div class="container">
  <div class="title">
      <h2 style="text-align: center">Your contact request form {{name}}</h2>
  </div>
<div class="d-flex">
  <div class="Yorder">
        <table style="border: 1px solid black">
        <tr>
            <th colspan="2">Order</th>
        </tr>
        <tr>
            <td>Name</td>
            <td>{{contactInfo?.name}}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>{{contactInfo?.email}}</td>
        </tr>
        <tr>
            <td>Phone</td>
            <td>{{contactInfo?.phone}}</td>
        </tr>
        <tr>
            <td>Title</td>
            <td>{{contactInfo?.title}}</td>
        </tr>
        <tr>
            <td>Content</td>
            <td>{{contactInfo?.content}}</td>
        </tr>
    </table><br>
  </div><!-- Yorder -->
 </div>
</div>