<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="mainstyle.css">
  <title>Order Form</title>
</head>

<body>
  <section class="container">

    <h2>Confirm customer order</h2>

    <table class="order-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>E-Mail</th>
          <th>Telephone</th>
          <th>Receiver Location</th>
          <th>Product Name</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Order At</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{user?.username}}</td>
          <td>{{user?.email}}</td>
          <td>{{order?.receiverPhone}}</td>
          <td>{{order?.receiverLocation}}</td>
          <td>{{order?.productName}}</td>
          <td>{{order?.quantity}}</td>
          <td>{{order?.totalPrice}}</td>
        </tr>
      </tbody>
    </table>

  </section>
</body>

</html>